<div data-ng-app="orderTrackerApp">

    <ng-view></ng-view>

</div>

<script src="~/Scripts/angularjs/lib/angular.min.js"></script>
<script src="~/Scripts/angularjs/lib/angular-resource.min.js"></script>

<script src="~/Scripts/angularjs/app/app.js"></script>

<script src="~/Scripts/angularjs/app/controllers/InvoiceController.js"></script>
<script src="~/Scripts/angularjs/app/controllers/InvoiceDetailsController.js"></script>
<script src="~/Scripts/angularjs/app/services/InvoiceService.js"></script>
<script src="~/Scripts/angularjs/app/services/InvoiceDetailsService.js"></script>
<script src="~/Scripts/angularjs/app/filters/moment.js"></script>
<script src="~/Scripts/angularjs/app/directives/notifier.js"></script>
